.html {
    font-family: 'Roboto', sans-serif;
}




.image-parent {
    background-size: cover;
}
.img {
     max-width: 100%;
     width: 100%;
    }
.html {
    max-width: 1440px;
}
.body { padding-top: 70px; }



